.default-theme {
  // 默认主题变量
  --styled-control-bar-bg-color: rgba(255, 255, 255, 0.8);
  --styled-control-bar-border-color: #dddddd;
  --styled-control-bar-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --styled-control-text-color: #4e5969;
  --styled-control-item-bg-color: transparent;
  --styled-control-item-border-color: transparent;
  --styled-control-item-hover-bg-color: #f5f5f5;
  --styled-control-item-hover-box-shadow: inset 0px 0px 15px 1px #dddddd;
  --styled-control-item-active-bg-color: #eeeeee;
  --styled-control-disabled-opacity: 0.5;
  --styled-control-base-layer-switch-bg-color: rgba(255, 255, 255, 0.8);
  --styled-control-plot-panel-bg-color: rgba(255, 255, 255, 0.8);
}

// 深色主题变量
.dark-theme {
  --styled-control-bar-bg-color: rgba(45, 45, 45, 0.8);
  --styled-control-bar-border-color: #444444;
  --styled-control-bar-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  --styled-control-text-color: #ffffff;
  --styled-control-item-bg-color: transparent;
  --styled-control-item-border-color: transparent;
  --styled-control-item-hover-bg-color: #3d3d3d;
  --styled-control-item-hover-box-shadow: inset 0px 0px 15px 1px #444444;
  --styled-control-item-active-bg-color: #1d1d1d;
  --styled-control-disabled-opacity: 0.4;
  --styled-control-base-layer-switch-bg-color: rgba(45, 45, 45, 0.8);
  --styled-control-plot-panel-bg-color: rgba(45, 45, 45, 0.8);
}

// 海洋蓝主题变量
.ocean-theme {
  --styled-control-bar-bg-color: rgba(0, 25, 41, 0.8);
  --styled-control-bar-border-color: #bbdefb;
  --styled-control-bar-box-shadow: inset 0px 0px 15px 1px #409eff;
  --styled-control-text-color: #94d8ff;
  --styled-control-item-bg-color: transparent;
  --styled-control-item-border-color: transparent;
  --styled-control-item-hover-bg-color: #083a5a;
  --styled-control-item-hover-box-shadow: inset 0px 0px 15px 1px #0994ff;
  --styled-control-item-active-bg-color: #083a5a;
  --styled-control-disabled-opacity: 0.5;
  --styled-control-base-layer-switch-bg-color: rgba(0, 25, 41, 0.8);
  --styled-control-plot-panel-bg-color: rgba(0, 25, 41, 0.8);
}

.glassmorphism-theme {
  --styled-control-bar-bg-color: transparent;
  --styled-control-bar-border-color: transparent;
  --styled-control-bar-box-shadow: inset 0px 0px 15px 1px transparent;
  --styled-control-text-color: #fff;
  --styled-control-item-bg-color: #0009;
  --styled-control-item-border-color: rgba(122, 163, 204, 0.5);
  --styled-control-item-hover-bg-color: rgba(0, 0, 0, 0.8);
  --styled-control-item-hover-box-shadow: inset 0px 0px 15px 1px transparent;
  --styled-control-item-active-bg-color: #33cccc1a;
  --styled-control-disabled-opacity: 0.5;
  --styled-control-base-layer-switch-bg-color: #0009;
  --styled-control-plot-panel-bg-color: #0009;
}
